#sec3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
}

.sec3-content{
    width: 25vw;
    text-align: justify;
    margin-left: 5rem;
    font-style: italic;
}

#sec3 video{
    margin-left: 8rem;
}

